/*  
Theme Name: Thirteen
Theme URI: http://beccary.com/goodies/wordpress-themes/
Description: A stylish theme in green. Two columns, fixed width. 
Version: 1.31
Author: Becca Wei
Author URI: http://beccary.com
*/

/* Basics and Typography */

li.leaf {   
  list-style-type: none; 
  list-style-image: url();
  padding: 0;
  margin: 0;
}
li.collapsed { 
  list-style-type: none; 
  list-style-image: url();
  padding: 0;
  margin: 0;
}
li.expanded {  
  list-style-type: none; 
  list-style-image: url();
  padding: 0;
  margin: 0;
}
body {
	margin: 0;
	padding: 0;
	background: #4E5706 url(images/bg.gif);
	color: #000;
	font-size: x-small;
	font-family: "Lucida Sans Unicode", Tahoma, Arial, sans-serif;
	text-align: center;
	voice-family: "\"}\""; 
	voice-family: inherit;
	font-size: small;
}
html>body {
	font-size: small;
}
p {
	margin: 1.2em 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
}
ol, ul {
	margin: 1.2em 0 1.2em 2.4em;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 1.2em 0 0 0;
	padding: 0;
	color: #4E5706; 
	font-family: Georgia, serif; 
}
h1, h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1.1em;
}
a {
	text-decoration: none;	
}
a:link {
	color: #C86C00;
}
a:visited, a:active {
	color: #B26A16;
}
a:hover {
	background-color: #4E5706;
	color: #FFF;
}
#sidebar a:link, #footer a:link {
	color: #C79A65;
}
#sidebar a:visited, #sidebar a:active, #footer a:visited, #footer a:active {
	color: #C0996C;
}
#sidebar a:hover, #footer a:hover {
	background-color: #A3963B;
	color: #000;
}
input, textarea, select {	
	background-color: #FFF;
	border: 1px solid #4E5706;
	color: #000;
	font: 1em "Lucida Sans Unicode", Tahoma, Arial, sans-serif;
}
input.submit, input[type=submit] {
	border: 1px solid #000;
	background-color: #4E5706;
	color: #FFF;
}
blockquote {
	margin: 0 20px;
	padding: 0 20px;
	border-left: 4px solid #C5C799;
	font-size: 0.92em;
}
small {
	font-size: 0.92em;
}
code {
	font-size: 1.1em;
	font-family: "Courier New", Courier, monospace;
	color: #7C7D66;
}
form {
	margin: 0;
	padding: 0;
	border: 0;
}
a img {
	border: 0;
}

/* The Layout */

#headwrapper {
	height: 350px;
	background: url(images/bg2.gif) repeat-x;
}
#header {
	margin: 0 auto;
	width: 765px;
	height: 85px;
	background: url(images/header.gif) no-repeat;
	text-align: left;
	overflow: hidden;
}

	/* Header Styles */
	
	#title {
		margin: 0;
		padding: 10px 0 0 237px;
		font-size: 2.6em;
		font-variant: small-caps;
	}
	#title a {
		display: block;
		float: left;
		padding: 10px 25px 0 25px;
		height: 55px;
		background: #A79E45 url(images/title.gif) repeat-x;
		color: #2C3101;
		voice-family: "\"}\""; 
		voice-family: inherit;
		height: 45px;
	}
	html>body #title a {
		height: 45px;
	}
	
#wrapper {
	margin: -265px auto 0 auto;
	width: 765px;
	background: #FFFFE3 url(images/wrapper.gif) repeat-y;
	text-align: left;
	font-size: 0.92em;
}
#content {
	float: right;
	padding: 0 38px 0 23px;
	width: 538px;
	background: url(images/content.gif) no-repeat 100% 0;
	overflow: hidden;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 477px;
}
html>body #content {
	width: 477px;
}
#sidebar {
	float: right;
	padding: 265px 15px 0 27px;
	width: 227px;
	background: url(images/sidebar.gif) no-repeat;
	color: #E5E6C2;
	font-size: 0.92em;
	overflow: hidden;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 185px;
}
html>body #sidebar {
	width: 185px;
}
#footer {
	clear: both;
	background: url(images/bg.gif);
	color: #E5E6C2;
	font-size: 0.86em;
	position: relative; /* IE disappearing background fix */
}

	/* Footer Styles */
	
	#footer p {
		margin: 0;
		padding: 2em 0 1.8em 242px;
		background: url(images/footer.gif) no-repeat;
	}
	
/* Sidebar Styles */

#sidebar ul {
	margin: 0;
	list-style-type: none;
}
#sidebar h2 {
	margin: 0 -15px;
	padding: 5px 0 0 15px;
	height: 28px;
	background: url(images/sidebarheader.gif) no-repeat;
	color: #212503;
	font-size: 1.2em;
	voice-family: "\"}\""; 
	voice-family: inherit;
	height: 23px;
}
html>body #sidebar h2 {
	height: 23px;
}
#sidebar h2 a, #sidebar h2 a:link, #sidebar h2 a:visited, #sidebar h2 a:active {
	color: #212503;
}
#sidebar ul ul, #sidebar p {
	margin: 0.6em 0;
}
#sidebar ul ul ul {
	margin: 0;
}
#sidebar ul ul li {
	padding: 0 0 0 15px;
	background: url(images/bullet.gif) no-repeat 0 0.55em;
}
ul.menu li { 
  margin: 0 0 0 -1em;
             }

.item-list .icon { 
  color: #555;
  float: right;
  padding-left: 0;
  clear: right;
}     
.item-list .title { 
  font-weight: normal;
} 
.item-list ul { 
  margin: 0;
  padding: 0;
}
.item-list ul li { 
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Blog and Comments */

/* .post { */
.node {
	margin: 0 0 1em 0;
	padding: 0.1em 0 28px 0;
	background: url(images/divider.gif) no-repeat 50% 100%;
}
.posttitle , .node h2{
	margin: 0.6em 0 0 0;
	padding: 0 0 0.1em 0;
	background: url(images/underline.gif) no-repeat 0 100%;
}
.postdate, .submitted {
	margin: 0.1em 0 1.2em 0;
	color: #7C7D66;
	font-size: 0.92em;
}
.postmeta {
}
.commentlist {
	margin: 0 0 0 1.2em;
	padding: 0 0 0.4em 0;
}
.commentauthor {
	margin: 0;
	padding: 0 0 0.1em 0;
	background: url(images/underline.gif) no-repeat 0 100%;
	font-size: 1.1em;
}
.commentauthor a {
	text-decoration: none;
}
.commentdate {
	margin-top: 0.2em;
	color: #7C7D66;
	font-size: 0.92em;
}
#comment {
	width: 98%;
}

.postnav {
	width: 100%;
	margin: 1.2em 0 0 0;
	padding: 0 0 0.6em 0;
	overflow: auto;
}
.prev {
	float: left;
}
.next {
	float: right;
}

/* Widgets and Etc */

.widget_search div {
	margin: 0.6em 0;
}
#sidebar #s {
	margin-bottom: 2px;
	width: 180px;
}

/* Calendar */

.widget_calendar h2 {
	display: none;
}
#wp-calendar {
	margin: 0 0 1.2em 0;
	width: 185px;
	border: 1px solid #000;
	background: #4E5706;
	line-height: 1.2em;
	text-align: center;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 183px;
} 
html>body #wp-calendar {
	width: 183px;
}
#wp-calendar caption {
	margin: 1.2em 0 0 0;
	padding: 0.4em 0;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	background: url(images/sidebarheader.gif) no-repeat 50% -2px;
	color: #212503;;
	font-weight: bold;
}
#wp-calendar td {
	border: 0;
	border-collapse: collapse;
	background: url(images/sidebarheader.gif) no-repeat 100% 0;
}
#wp-calendar td a {
	display: block;
	width: 100%;
}
#wp-calendar td.pad {
	background: transparent;
}
#wp-calendar td#next, #wp-calendar td#prev {
	padding: 0.1em 2px;
	background: transparent;
}
#wp-calendar td#next a, #wp-calendar td#prev a {
	display: inline;
}
#wp-calendar td#next {
	text-align: right;
}
#wp-calendar td#prev {
	text-align: left;
}

/* Image Borders */

div.image {
	margin: 1.2em 0;
}

div.imagecenter {
	margin: 1.2em 0;
	text-align: center;
}
div.imagecenter img {
	margin: 0 auto;
}

div.imageleft, img.imageleft {
	float: left;
	margin: 0 15px 0.2em 0;
	padding: 0;
}
 
div.imageright, img.imageright {
	float: right;
	margin: 0 0 0.2em 15px;
	padding: 0;
}

div.image img, img.image,
div.imagecenter img,
div.imageleft img, img.imageleft,
div.imageright img, img.imageright {
	padding: 5px;
	border: 1px solid #C5C799;
	background: #FFF;
}